
.inputDiv{
	text-align: center;
}

.addButton:hover {
	background-color: red;
	color: white;	 
}

.addButton{
	background-color: orange;
	color: white;
	font-weight: 100;
	border-radius: 10px;
	height: 40px;
	outline: none;
	border: none;
	margin: 0.25rem;
    transition: .5s;
    font-size: 1.15rem;
    padding: 10px;
}


.todoInput{
	 border-radius: 10px;
	 height: 20px;
	 width: 25%;
	 outline: none;
	 border: none;
	 margin: 0.25rem;
     transition: .5s;
     font-size: 1.15rem;
     padding: 10px;
}

.date{
	border-radius: 10px;
	 height: 20px;	 
	 outline: none;
	 border: none;
	 margin: 0.25rem;
     transition: .5s;
     font-size: 1.15rem;
     padding: 10px;
}
.label1{
	 font-size: 1.15rem;
	 padding: 10px;
}

