*{
	padding: 0px;
	margin :0px;
	
}
.mainDiv1{
	display: flex;
	width: 100%;
	background-color: black;
	justify-content: space-around;
	text-align: center;
	align-items: center; 
	margin-bottom: 10px;
	border: 5px white solid;
}

.mainDiv1 div{
	padding: 20px;
	margin :20px;

}

.firstFlex{
	flex : 1;
}

.secondFlex{
	flex: 2;
}

.thirdFlex{
	flex:1;
}

.fourthFlex{
	flex:1;
}



.button1{
	background-color: orange;
	color: white;
	font-weight: 100;
	border-radius: 10px;
	height: 60px;
	width: 60px;
	outline: none;
	border: none;
	margin: 0.25rem;
    transition: .5s;
    font-size: 2rem;
    padding: 10px;
}

h2{
	font-weight: 200;
}

h4{
	font-weight: 200;
}
.button1:hover{
	background-color: red;
	color: white;
}

#border{
	border-style: solid;
	border-color: yellow;
	
}

#strike{
	text-decoration: line-through;
	
}

.hidden{
	visibility: hidden;
}